<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>Movie List</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card class="content-card">
    <mat-card *ngFor="let movie of movieList" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>{{movie.programType}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{movie.imageUrl}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>{{movie.description}}</p>
        </mat-card-content>
    </mat-card>
</mat-card>