.example-spacer {
    flex: auto 1 1;
}
.content-card{
  text-align: center;
}
.mat-card-header{
  text-align: left;
}
.example-card {
  max-width: 400px;
  display: inline-block;
  margin: 5px;
  mat-card-content{
    text-align:justify ;
  }
}