<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-divider></mat-divider>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <mat-error *ngIf="0">
                The username and password were not recognized
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Email" formControlName="username" required>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>
    </form>
</mat-card>